<h1>Epicenter#unfollow</h1>
<p>Find me in app/views/epicenter/unfollow.html.erb</p>

Once again, you could delete the associated view if you wanted (unfollow.html.erb)

because these are action, not pages